
__pycache__/
*.py[cod]
*$py.class

assets/
templates/
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
MANIFEST

__pypackages__/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

temp/
temp1.py
temp2.py
app.py